<header class="app-header">
  <div class="container">
    <div class="logo">
      <img class="logo-img" src="logo_gli.png">
    </div>

    <nav class="nav-links">
      <a routerLink="/upload" routerLinkActive="active" class="nav-item">Subir Imagen</a>
      <a routerLink="/brain-mask" routerLinkActive="active" class="nav-item">Máscara Cerebral</a>
      <a routerLink="/segment-120" routerLinkActive="active" class="nav-item">Segmentar 120×120</a>
      <a routerLink="/segment-32" routerLinkActive="active" class="nav-item">Segmentar 32×32</a>
      <a routerLink="/results" routerLinkActive="active" class="nav-item">Resultados</a>
    </nav>
  </div>
</header>
